<!DOCTYPE html>
<html>
<head>
  <title>Kudo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render 'layouts/header' %>
	<div class="container">
<<<<<<< HEAD
		<p class="alert" role="notice"><%= notice %></p>
    	<p class="alert" role="alert"><%= alert %></p>
			
=======
		 <% flash.each do |name, msg| %>

     <%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		
>>>>>>> 99a15ce4d1841a13c45122c12b9b32c8fe809b7c
		<%= yield %>
	</div>

</body>
</html>
